#list {
  width: 1200px;
  margin: 0 auto 0px;
  ul {
    width: 100%;
    margin-left: -20px;
    li {
      width: 20%;
      float: left;
      padding-left: 20px;
      box-sizing: border-box;
    }
  }
  .item {
    background: #fff;
    border-radius: 3px;
    .item_img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .item_detail {
    padding: 10px 15px;
    color: #999;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    .title {
      color: #333;
      line-height: 24px;
    }
    .kind {
      margin-bottom: 16px;
      margin-top: 3px;
      font-size: 12px;
    }
    .action {
      margin-left: 0;
      color: #999;
      li {
        width: auto;
        margin-right: 8px;
        span {
          display: inline-block;
        }
      }
    }
  }
  .item_author {
    border-top: 1px solid #999;
    height: 51px;
  }
}
